div {
    background-color: #b5e93b;
    width: 172px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 80px;
        margin-top: 40px;
    }

    nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        ul {
            margin: 0;
            list-style: none;
            display: flex;
            transform: rotate(270deg);

            li {
                color: #4a4a4a;
                font-family: 'Quantico';
                font-size: 30px;
                width: 150px;
                text-align: center;
                transition: all 300ms ease-in-out;

                &:hover {
                    color: white;
                    cursor: pointer;
                }
            }

        }
    }
}