:host {
    position: fixed;
    background-color: #b5e93b;
    width: 170px;
    height: 100vh;
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;

    .logo {
        width: 110px;
        height: 110px;
        padding-top: 50px;
        transition: all 0.4s ease-in-out;

        &:hover {
            scale: 1.02;
            cursor: pointer;
        }
    }

    li {
        list-style: none;
    }

    .display_none {
        display: none;
    }

    .menu {
        height: 100%;
        display: flex;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            gap: 40px;

            li {
                color: #4a4a4a;
                font-size: 30px;
                transition: all 300ms ease-in-out;
                writing-mode: vertical-lr;
                transform: rotate(180deg);
                font-weight: 600;

                a.active {
                    font-weight: 600;
                    font-size: 30px;
                    color: transparent;
                    -webkit-text-stroke: 1px #4a4a4a;
                }

                a {
                    color: #4a4a4aee;
                    transition: all 400ms ease-out;
                    margin-top: 2px;

                    &:hover {
                        color: white;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .menu_res {
        display: none;
    }
}

@media (max-width:900px), (max-height: 800px)  {

    :host {
        // position: unset;
        background-color: #b5e93b;
        width: 100%;
        min-height: 73px;
        height: 73px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        img {
            cursor: pointer;
        }

        .logo {
            width: 45px;
            height: 45px;
            padding-top: 10px;
            margin-left: 20px;
        }

        a {
            margin: 0;
        }

        .burger_menu {
            display: block;
            padding-top: 5px;
            margin-right: 20px;
            width: 28px;
            height: 30px;
        }

        .menu {
            display: none
        }

        .menu_res {
            background: linear-gradient(to top, #70a001, #b5e93b);
            width: 100%;
            height: 320px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0 0 30px 30px;

            .close_menu {
                position: absolute;
                right: 20px;
                top: 20px;
                cursor: pointer;
                width: 25px;
                height: 25px;
            }

            ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
                padding: 0;
                gap: 0px;
                margin-top: 60px;

                li {
                    color: #4a4a4a;
                    font-size: 18px;
                    transition: all 300ms ease-in-out;
                    writing-mode: unset;
                    transform: none;
                    text-align: center;
                    height: 50px;

                    a.active {
                        font-weight: 700;
                        font-size: 18px;
                        color: transparent;
                        -webkit-text-stroke: 1px #4a4a4a;
                    }

                    a {
                        color: #4a4a4a;
                        transition: all 400ms ease-out;
                        margin-top: 0px;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .language {
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-right: 0px;

                a.active {
                    font-weight: 700;
                    font-size: 18px;
                    color: transparent;
                    -webkit-text-stroke: 1px #4a4a4a;
                }

                a {
                    color: #4a4a4a;
                    font-size: 18px;
                    transition: all 300ms ease-in-out;
                    margin: 0;

                    &:hover {
                        cursor: pointer;
                        color: transparent;
                        -webkit-text-stroke: 1px #4a4a4a;
                    }
                }

                div {
                    width: 2px;
                    height: 18px;
                    background-color: #4a4a4a;
                    margin: 5px;
                    margin-top: 7px;
                }

            }
        }

        .display_none_res {
            display: none;
        }
    }
}