section {
    font-family: 'Quantico';
    display: flex;
    width: calc(100vw - 170px);
    height: calc(100vh - 150px);

    .title {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 50px;
    }

    .div_skills {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: end;
        gap: 40px;

        div {
            display: flex;
            flex-wrap: wrap;
            // gap: 10px;
            // justify-content: center;
            // align-items: center;

            .single_skill {
                display: flex;
                width: 140px;
                height: 90px;
                flex-direction: column;
                align-items: center;
                padding: 20px 10px;

                img {
                    height: 60px;
                }
            }
        }
    }

    .arrow {
        display: flex;
        align-items: center;
        padding: 70px;

        img {
            width: 107px;
            cursor: pointer;
        }
    }
}