<section>
  <div class="title_references">
    <h2>{{languages.websiteLanguage.referencesPage.title}}</h2>
  </div>
  <div class="teamplayer">
    <h3>{{languages.websiteLanguage.referencesPage.titleRes}}</h3>
    <p>{{languages.websiteLanguage.referencesPage.textRes}}</p>
  </div>
  <div class="div_references">
    @for (reference of languages.websiteLanguage.referencesPage.references; track $index) {

    <div class="div_frame" [class.active]="currentSlide === $index">
      <p>{{reference.comment}}</p>
      <div class="linie"></div>
      <div>
        <h4>{{reference.name}}</h4>
        <span>{{reference.projectName}}</span>
      </div>
    </div>

    }
  </div>
  <div class="div_btns">
    @for (reference of languages.websiteLanguage.referencesPage.references; track $index) {
    <button [class.active]="currentSlide === $index" (click)="goToSlide($index)">
    </button>
    }
  </div>
  <div class="arrow">
    <a (click)="scrollTo('contact-page')"><img src="/assets/img/right--.svg" alt="right arrow"></a>
  </div>
</section>