section {
    display: flex;
    width: calc(100vw - 170px);
    height: calc(100vh - 90px);
    margin-left: 170px;
    margin-top: 90px;

    .title {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: end;
        position: relative;

        .img_profile {
            position: absolute;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: end;
            position: absolute;
            padding-bottom: 10%;
        }

        h3 {
            color: transparent;
            -webkit-text-stroke: 1px #b5e93b;
        }
    }

    .arrow {
        a {
            display: flex;
            img {
                width: 100px;
                margin: 70px;
                margin-top: 250px;
                cursor: pointer;
            }
        }
    }
}