:host {
    display: flex;
    width: calc(100vw - 170px);

    .title {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: end;
        position: relative;

        .img_profile {
            position: absolute;
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: end;
            position: absolute;
            padding-bottom: 10%;
        }

        h3 {
            color: transparent;
            -webkit-text-stroke: 1px #b5e93b;
        }
    }

    .arrow {
        display: flex;
        align-items: flex-start;
        margin: 70px;
        margin-top: 160px;

        a {
            img {
                width: 100px;
                cursor: pointer;
                transition: all 250ms ease-in-out;

                &:hover {
                    filter: drop-shadow(0 0 20px #b5e93b83);
                }
            }
        }
    }
}