<div class="why_me">
    <h2>{{languages.websiteLanguage.menu.myWork}}</h2>
</div>
<div class="div_for">
    @for (project of languages.websiteLanguage.myWorks.projects; track $index) {
    <div class="div_project">
        <div class="div_project_name">
            <h1>{{$index+1}}</h1>
            <p>{{project.projectName}}</p>
        </div>
        <div class="div_project_about">
            <div class="div_info">
                <div class="circle">
                    <img src="assets/img/icons/my-project/ellipse.svg">
                    <h4>{{project.aboutTitle}}</h4>
                </div>
                <p>{{project.aboutProject}}</p>
                @if (isMobile ? showMore[$index] : true) {
                <div class="circle">
                    <img src="assets/img/icons/my-project/ellipse.svg">
                    <h4>{{project.technologiesTitle}}</h4>
                </div>
                <p>{{project.technologies}}</p>
                <div class="div_info2res display_none">
                    <div class="circle">
                        <img src="assets/img/icons/my-project/ellipse.svg">
                        <h4>{{project.mehrTitle}}</h4>
                    </div>
                    <p class="p_class display_none">{{project.mehrText}}</p>
                </div>
                }
            </div>
            @if (isMobile ? showMore[$index] : true) {
            <div class="div_img_btn">
                <img src="{{project.imageUrl}}" alt="">
                <div class="div_btn">
                    <a href="{{project.githubUrl}}" class="btn_github" target="_blank">GitHub</a>
                    <a href="{{project.liveUrl}}" class="btn_live" target="_blank">Live Test</a>
                </div>
            </div>
            }
        </div>
        <div class="div_info2 display_none_res">
            <div class="circle">
                <img src="assets/img/icons/my-project/ellipse.svg">
                <h4>{{project.mehrTitle}}</h4>
            </div>
            <p>{{project.mehrText}}</p>
        </div>
        @if (isMobile) {
        @if(!showMore[$index]){
        <div class="show_more" (click)="showMore[$index]=!showMore[$index]">
            <p>{{languages.websiteLanguage.myWorks.more}}</p>
            <img src="/assets/img/Polygon-1.svg">
        </div>
        }}
    </div>
    @if (isMobile) {
    @if(showMore[$index]){
    <div class="show_less" (click)="showMore[$index]=!showMore[$index]">
        <p>{{languages.websiteLanguage.myWorks.less}}</p>
        <img src="/assets/img/Polygon-2.svg">
    </div>}}
    }
    <div>
        <div class="div_Ongoing_project">
            <div class="div_op_title">
                <h3>{{languages.websiteLanguage.myWorks.projects.length +1}}</h3>
                <p class="op_title">{{languages.websiteLanguage.myWorks.ongoingProject.title}}</p>
            </div>
            <p>{{languages.websiteLanguage.myWorks.ongoingProject.description}}</p>
            <div class="div_talk"><a
                    href="#contact-page">{{languages.websiteLanguage.myWorks.ongoingProject.talkTitle}}</a></div>
        </div>
    </div>
</div>
<div class="arrow">
    <a href="#references"><img src="/assets/img/right--.svg" alt="right arrow"></a>
</div>
<app-references-page id="references" />