div {

    display: flex;

    app-menu {
        position: fixed;
    }

    div {
        display: flex;
        // flex-direction: column;
        // height: 100%;

        app-social-media {
            position: fixed;
        }

        app-hero {
            // height: 100%;
        }

        app-why-me {
            // width: 100vw;
            // margin-top: 100px;
        }

        // app-my-skill{
        //     height: 100%;
        //     margin-bottom: 100px;

        // }
    }
}