:host {
    display: flex;

    app-menu {
        position: fixed;
        z-index: 1;
    }

    div {
        display: flex;
        flex-direction: column;

        app-social-media {
            position: fixed;
        }

        .pages {
            margin-top: 150px;
            margin-left: 170px;
            height: calc(100vh - 150px);
        }
    }
}