.green {
    color: #b5e93b;
}

:host {
    margin-top: 130px;
    section {
        display: flex;
        width: calc(100vw - 220px);
        margin-left: 50px;
        .arrow_back {
            display: none;
        }

        .div_privacy {
            color: white;
            width: 750px;
        }

        .div_info {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: flex-end;
            justify-content: end;
            text-align: right;
            min-width: 200px;
        }

        .legal_notice,
        .privacy_policy {
            color: white;

            &:hover {
                color: #d3ed97;
                cursor: pointer;
            }
        }

        .end_green {
            display: block;
            margin-top: -130px;
            margin-left: 30px;
            min-width: 100px;
            height: 100vh;
            background-color: #b5e93b;
        }

        .div_arrow {
            display: none;
        }
    }
}

@media (max-width: 1322px) {
    :host {
        section {
            min-width: calc(100vw - 270px);

            .div_privacy {
                min-width: 625px;
            }
        }
    }
}

@media (max-width:900px), (max-height: 820px)  {
    :host {
        margin-top: 50px;

        section {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 40px 0;

            .div_privacy {
                min-width: unset;
            }

            .arrow_back {
                display: block;
                width: 90%;
                margin: 40px 0;
                display: flex;
                justify-content: flex-start;
            }

            .title {
                width: 90%;
            }

            .div_privacy {
                width: 90%;
            }

            .div_info {
                display: none;
            }

            .end_green {
                display: none;
            }

            .div_arrow {
                display: flex;
                margin-top: 40px;
            }
        }
    }
}