@media (max-width:900px), (max-height: 820px)  {
    :host {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .legal_notice,
        .privacy_policy {
            display: none;
        }

        .social_media {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 20px;
            cursor: pointer;
            margin-bottom: 40px;

            a {
                cursor: pointer;
                width: 30px;
                height: 30px;
            }

            .email {
                background-image: url('/assets/img/icons/hero/email.svg');
                width: 30px;
                height: 30px;
                border-radius: 50%;
                transition: all 300ms ease-in-out;

                &:hover {
                    background-image: url('/assets/img/icons/hero/email-hover.svg');
                }
            }

            .linkedin {
                background-image: url('/assets/img/icons/hero/linkedin.svg');
                width: 30px;
                height: 30px;
                border-radius: 50%;
                transition: all 300ms ease-in-out;

                &:hover {
                    background-image: url('/assets/img/icons/hero/linkedin-hover.svg');
                }
            }

            .github {
                background-image: url('/assets/img/icons/hero/github.svg');
                width: 30px;
                height: 30px;
                border-radius: 50%;
                transition: all 300ms ease-in-out;

                &:hover {
                    background-image: url('/assets/img/icons/hero/github-hover.svg');
                }
            }
        }

        .end_green {
            margin-top: 0px;
            margin-left: 0;
            width: 100%;
            height: 153px;
            background-color: #b5e93b;

            .footer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                .logo {
                    width: 45px;
                    height: 45px;
                    margin-top: 20px;
                }

                p {
                    font-size: 20px;
                    color: #4a4a4a;
                }

                a {
                    font-size: 16px;
                    color: #4a4a4a;
                    margin: 0;
                    padding: 0;
                }

                div {
                    display: flex;
                    gap: 20px;
                }
            }
        }
    }
}