section {
    display: flex;
    width: calc(100vw - 320px);
    height: calc(100vh - 150px);
    margin-top: 150px;

    .why_me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .whyme_div {
        display: flex;
        flex-direction: column;
        flex: 1;

        .i_am {
            margin: 0;
            margin-top: 30px;
        }

        div {
            display: flex;
            justify-content: space-evenly;

            div {
                display: flex;
                flex-direction: column;
                transition: all 400ms ease-in-out;
                gap: 10px;

                img {
                    height: 40px;
                }

                &:hover {
                    color: #b5e93b;
                    cursor: default;
                }

            }
        }
    }

    .btn_div {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-top: 50px;

        button {
            font-size: 14px;
            background-color: #b5e93b;
            width: 135px;
            height: 43px;
            border-radius: 30px;
            border-style: none;
            font-family: 'Quantico';
            cursor: pointer;
        }
    }

    .arrow {
        display: flex;
        align-items: end;
        padding: 70px;
        margin-bottom: 120px;

        img {
            width: 100px;
            cursor: pointer;
        }
    }
}