.green {
    color: #b5e93b;
}

:host {
    display: flex;
    width: calc(100vw - 220px);
    margin-left: 50px;
    max-width: 1920px;

    .arrow_back {
        display: none;
    }

    .div_imprint {
        color: white;
        width: 750px;
    }

    .div_info {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-end;
        justify-content: end;
        text-align: right;
    }

    .legal_notice,
    .privacy_policy {
        color: white;

        &:hover {
            color: #d3ed97;
            cursor: pointer;
        }
    }

    .end_green {
        display: block;
        margin-top: -150px;
        margin-left: 30px;
        width: 100px;
        height: 100vh;
        background-color: #b5e93b;
    }

    .div_arrow {
        display: none;
    }
}


@media (max-width:500px) {
    :host {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 40px 0;

        .arrow_back {
            display: block;
            width: 90%;
            margin: 40px 0;
            display: flex;
            justify-content: flex-start;
        }

        .title {
            width: 90%;
        }

        .div_imprint {
            width: 90%;
        }

        .div_info {
            display: none;
        }

        .end_green {
            display: none;
        }

        .div_arrow {
            display: flex;
            margin-top: 40px;
        }
    }
}