:host {
    position: relative;

    section {
        display: flex;
        height: 100%;
        width: calc(100vw - 170px);

        .title {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: flex-end;

            .img_profile {
                height: 900px;
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: end;
                padding-bottom: 150px;
                position: absolute;
            }

            h1 {
                font-size: 85px;
            }

            h4 {
                display: none;
            }

            h3 {
                font-size: 50px;
                color: transparent;
                -webkit-text-stroke: 1px #b5e93b;
            }
        }

        .arrow {
            display: flex;
            align-items: flex-start;
            margin: 70px;
            margin-top: 160px;

            a {
                img {
                    width: 80px;
                    cursor: pointer;
                    transition: all 250ms ease-in-out;

                    &:hover {
                        filter: drop-shadow(0 0 20px #b5e93b83);
                    }
                }
            }
        }
    }
}

@media (max-width:1200px) {
    :host {

        section {
            .title {

                h1 {
                    font-size: 70px;
                }

                h3 {
                    font-size: 40px;
                }

                .img_profile {
                    height: 800px;
                }
            }

            .arrow {
                display: flex;
                align-items: flex-start;
                margin: 70px;
                margin-top: 160px;

                a {
                    img {
                        width: 80px;
                        cursor: pointer;
                        transition: all 250ms ease-in-out;

                        &:hover {
                            filter: drop-shadow(0 0 20px #b5e93b83);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1080px) {
    :host {
        section {
            position: relative;

            .arrow {
                position: absolute;
                right: 0px;
            }
        }
    }
}

@media (max-width:900px) {
    :host {
        position: unset;
        width: 100%;
        margin-top: 73px;

        section {
            height: calc(100vh - 73px);
            width: 100%;

            .title {
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .img_profile {
                    height: 500px;
                }

                .text {
                    flex-direction: column-reverse;
                    align-items: center;
                    padding-bottom: 0;
                    position: unset;
                }

                h1 {
                    font-size: 60px;
                }

                h4 {
                    display: flex;
                    margin: 0;
                }

                h3 {
                    font-size: 30px;
                }
            }

            .arrow {
                display: none;
            }
        }
    }
}

@media (max-width:500px) {
    :host {

        section {

            .title {

                .img_profile {
                    height: 400px;
                }

                h1 {
                    font-size: 35px;
                }

                h4 {
                    font-size: 18px;
                }

                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}