<div class="contact_me">
    <h2>{{languages.websiteLanguage.contact.title}}</h2>
</div>

<div class="contact_info_res">
    <span>{{languages.websiteLanguage.contact.invitationTitle}}</span>
    <p>{{languages.websiteLanguage.contact.invitationText}}</p>
    <a href="mailto:info@younes-darabi.de"
        class="email"><img>{{languages.websiteLanguage.contact.contactInfo.email}}</a>
    <a href="tel:+4917687853794" class="phone"><img
            src="/assets/img/icons/contact/phone.svg">{{languages.websiteLanguage.contact.contactInfo.tel}}</a>
</div>

<div class="form">
    <form class="contact_form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        <input #name="ngModel" [ngClass]="{
            'placeholder-error': name.invalid && name.touched,
            'placeholder-normal': !name.invalid || !name.touched
        }" [(ngModel)]="contactData.name" type="text" name="name" minlength="3"
            [placeholder]="name.invalid && name.touched ? languages.websiteLanguage.contact.form.errorName : languages.websiteLanguage.contact.form.name"
            required />

        <input #email="ngModel" [ngClass]="{
            'placeholder-error': email.invalid && email.touched,
            'placeholder-normal': !email.invalid || !email.touched
        }" [(ngModel)]="contactData.email" type="email" name="email"
            [placeholder]="email.invalid && email.touched ? languages.websiteLanguage.contact.form.errorEmail : languages.websiteLanguage.contact.form.email"
            required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />

        <textarea #message="ngModel" [ngClass]="{
            'placeholder-error': message.invalid && message.touched,
            'placeholder-normal': !message.invalid || !message.touched
        }" [(ngModel)]="contactData.message" name="message" minlength="5"
            [placeholder]="message.invalid && message.touched ? languages.websiteLanguage.contact.form.errorMessage : languages.websiteLanguage.contact.form.message"
            required></textarea>

        <label class="privacy">
            <input #privacy="ngModel" name="privacy" type="checkbox" required
                [(ngModel)]="contactData.privacyAccepted" />
            <span [innerHTML]="languages.websiteLanguage.contact.form.privacyText"></span>
        </label>

        <div [ngStyle]="{'height':'50px'}">
            @if (privacy.invalid && privacy.touched) {
            <span [ngStyle]="{'color':'red'}">{{languages.websiteLanguage.contact.form.errorPrivacy}}</span>
            }
        </div>

        <button type="submit" name="submit"
            [disabled]="!contactData.privacyAccepted || !contactData.name || !contactData.email || !contactData.message || !email.valid  ">{{languages.websiteLanguage.contact.form.sendButton}}</button>
        @if (this.contactData.emailSent == true){
        <p class="email_sent">{{languages.websiteLanguage.contact.form.emailSent}}</p>
        }
    </form>
</div>

<div class="div_info">

    <div class="contact_info">
        <span>{{languages.websiteLanguage.contact.invitationTitle}}</span>
        <p>{{languages.websiteLanguage.contact.invitationText}}</p>
        <a href="mailto:info@younes-darabi.de"
            class="email"><img>{{languages.websiteLanguage.contact.contactInfo.email}}</a>
        <a href="tel:+4917687853794" class="phone"><img
                src="/assets/img/icons/contact/phone.svg">{{languages.websiteLanguage.contact.contactInfo.tel}}</a>
    </div>
    <div class="div_arrow">
        <a href="#hero-page"><img class="arrow" src="/assets/img/left--.svg" alt="right arrow"></a>
    </div>
    <div>
        <a routerLink="/legal-notice"
            class="legal_notice">{{languages.websiteLanguage.contact.links.legalNotice}}</a><br>
        <a routerLink="/privacy-policy"
            class="privacy_policy">{{languages.websiteLanguage.contact.links.privacyPolicy}}</a><br>
        <p class="design">{{languages.websiteLanguage.contact.footer}}</p><br>
    </div>

</div>
<div class="end_green"></div>