body{
    background-color: black;
    margin: 0;

}

@font-face {
    font-display: swap;
    font-family: 'Roboto Mono';
    src: url('/assets/fonts/roboto-mono-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Quantico';
  src: url('/assets/fonts/quantico-v19-latin-regular.woff2') format('woff2');
}