html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow-y: hidden;
  background-color: #000000;
  margin: 0;
  font-family: 'Quantico';
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: #b5e93b;
  margin: 0;
}

h2 {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 54px;
  color: transparent;
  -webkit-text-stroke: 1px #b5e93b;
  font-weight: 400;
}

h3 {
  font-size: 48px;
  font-weight: 700;
  color: #b5e93b;
  margin: 0;
}

h4 {
  font-size: 24px;
  color: white;
  font-weight: 400;
  margin: 10px 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
  color: white;
  margin: 0;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/roboto-mono-v31-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Quantico';
  src: url('/assets/fonts/quantico-v19-latin-regular.woff2') format('woff2');
}