section {
    display: flex;
    width: 100vw;
    justify-content: right;
    align-items: end;
    height: 90px;

    .social_media {
        display: flex;
        gap: 10px;
        margin-right: 50px;
        cursor: pointer;

        a {
            cursor: pointer;
            width: 30px;
            height: 30px;
        }

        .email {
            background-image: url('/assets/img/icons/hero/email.svg');
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transition: all 300ms ease-in-out;

            &:hover {
                background-image: url('/assets/img/icons/hero/email-hover.svg');
            }
        }

        .linkedin {
            background-image: url('/assets/img/icons/hero/linkedin.svg');
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transition: all 300ms ease-in-out;

            &:hover {
                background-image: url('/assets/img/icons/hero/linkedin-hover.svg');
            }
        }

        .github {
            background-image: url('/assets/img/icons/hero/github.svg');
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transition: all 300ms ease-in-out;

            &:hover {
                background-image: url('/assets/img/icons/hero/github-hover.svg');
            }
        }
    }

    .language {
        display: flex;
        align-items: center;
        margin-right: 170px;
        font-family: 'Roboto Mono';
        padding-bottom: 3px;

        p {
            color: white;
            font-size: 18px;
            transition: all 300ms ease-in-out;
            margin: 0;

            &:hover {
                cursor: pointer;
                color: #b5e93b;
            }
        }

        div {
            width: 2px;
            height: 14px;
            background-color: white;
            margin: 5px;
        }

    }
}